<html>

    <body>
        <div>
            trends
            <br>
            <div>
                <ul>
                    {% for trend in pics %}
                    <li ><h1><a href='#{{trend.trend}}'>{{trend.trend}}</a></h1>
                        <h4><a href='#{{trend.trend}}10+'>10k+</a>[{{trend.pictures['10k'].length}}]  <a href='#{{trend.trend}}1+'>1k+</a>[{{trend.pictures['1k'].length}}]  <a href='#{{trend.trend}}1-'>1k-</a>[{{trend.pictures['0k'].length}}]</h4>
                        <h5><a href='{{trend.url}}' target='_blank'>go to twitter</a></h5>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            {% for trend in pics %}
            <div id="{{trend.trend}}" name="{{trend.trend}}">
                <h2>{{trend.trend}}</h2>


                        <h2 id='{{trend.trend}}10+'>10k+</h2>
                        {% for pic in trend.pictures['10k'] %}
                        <div>

                            <!-- {% if pic.videos %} -->
                                <!-- TODO show video image and mark that it can be clicked to open full video -->
                            <!-- {% else %} -->
                            <img src="{{pic.images.standard_resolution.url}}" width="{{pics.images.standard_resolution.width}}" height="{{pics.images.standard_resolution.height}}">
                            <!-- {% endif %} -->
                            <br> {{ pic.likes.count }}
                            <br> {{ pic.caption.text }}
                            <br> {{ pic.user.userame }}
                            <br>
                            <a href="{{pic.link}}">instagram</a>
                        </div>
                        {% endfor %}
                        <h2 id='{{trend.trend}}1+'>1k+</h2>
                        {% for pic in trend.pictures['1k'] %}
                        <div>

                            <!-- {% if pic.videos %} -->
                                <!-- TODO show video image and mark that it can be clicked to open full video -->
                            <!-- {% else %} -->
                            <img src="{{pic.images.standard_resolution.url}}" width="{{pics.images.standard_resolution.width}}" height="{{pics.images.standard_resolution.height}}">
                            <!-- {% endif %} -->
                            <br> {{ pic.likes.count }}
                            <br> {{ pic.caption.text }}
                            <br> {{ pic.user.userame }}
                            <br>
                            <a href="{{pic.link}}">instagram</a>
                        </div>
                        {% endfor %}
                        <h2 id='{{trend.trend}}1-'>under 1k</h2>
                        {% for pic in trend.pictures['0k'] %}
                        <div>

                            <!-- {% if pic.videos %} -->
                                <!-- TODO show video image and mark that it can be clicked to open full video -->
                            <!-- {% else %} -->
                            <img src="{{pic.images.standard_resolution.url}}" width="{{pics.images.standard_resolution.width}}" height="{{pics.images.standard_resolution.height}}">
                            <!-- {% endif %} -->
                            <br> {{ pic.likes.count }}
                            <br> {{ pic.caption.text }}
                            <br> {{ pic.user.userame }}
                            <br>
                            <a href="{{pic.link}}">instagram</a>
                        </div>
                        {% endfor %}
            </div>
            {% endfor %}
        </div>
    </body>

</html>
